.flow-editor-flex-column {
  display: flex;
  flex-direction: column;
}
.react-flow__node-starting.selected {
  box-shadow: 0px 0px 5px rgb(54, 173, 163);
  background: rgb(155, 157, 179);
}

.react-flow__node-terminal.selected {
  box-shadow: 0px 0px 5px rgb(206, 78, 28);
  background: rgb(155, 157, 179);
}

.react-flow__node-multiHandle.selected {
  box-shadow: 0px 0px 5px rgb(206, 104, 64);
  background: rgb(155, 157, 179);
}

.flow-editor-button {
  border-radius: 7px;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  background-color: #b6a0ba;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.flow-editor-toolbox {
  padding: 5px;
  background: #a282a7;
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.flow-editor-properties-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 20px 0;
}

.flow-editor-properties-label {
  font-weight: bold;
  margin: 10px 0 5px 2px;
  font-size: 15px;
}

.flow-editor-properties-input {
  padding: 3px;
}

.flow-editor-properties {
  display: flex;
  flex-direction: column;
}

.flow-editor-vertical-spacer {
  height: 30px;
}

.flow-editor-buttons {
  display: flex;
  flex-direction: column;
}

.flow-editor-node-icon-up {
  left: -26px;
  top: 6px;
  position: absolute;
  cursor: pointer;
  fill: darkgoldenrod;
  fill-opacity: 0.2;
  stroke: darkgoldenrod;
  stroke-width: 20px;
}

.flow-editor-node-icon-down {
  left: -15px;
  top: 6px;
  position: absolute;
  cursor: pointer;
  fill: darkgoldenrod;
  fill-opacity: 0.2;
  stroke: darkgoldenrod;
  stroke-width: 20px;
}
.flow-editor-node-icon-split {
  left: 125px;
  top: 3px;
  position: absolute;
  cursor: pointer;
  fill: darkgoldenrod;
  fill-opacity: 0.5;
}

.flow-editor-node-icon-up:hover {
  fill-opacity: 1;
}

.flow-editor-node-icon-down:hover {
  fill-opacity: 1;
}

.flow-editor-node-icon-split:hover {
  fill-opacity: 1;
  stroke: darkgoldenrod;
  stroke-width: 10px;
}
